<form action=" " method="POST" name="editForm">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Student Name"
      name="name"
      value=""
    />
    <label for="floatingInput">Student Name</label>
  </div>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="old"
      placeholder="Old"
      name="old"
      value=""
    />
    <label for="floatingPassword">Old</label>
  </div>
  <div class="form-floating mt-3">
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Email"
      name="email"
      value=""
    />
    <label for="floatingPassword">Email</label>
  </div>
  <div class="form-floating mt-3">
    <input
      type="submit"
      value="Save"
      id="floatingSubmit"
      class="form-control btn btn-primary"
    />
  </div>
</form>
